fastapi==0.115.0
uvicorn==0.30.6
langchain==0.3.7
langchain-core==0.3.15
langchain-community==0.3.7
langchain-text-splitters==0.3.2
langchain-groq==0.2.1
langchain-chroma==0.1.4
chromadb==0.5.18
scikit-learn==1.5.2